body {
  background: #222;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu, #game {
  text-align: center;
}

#menu {
  display: block;
}

#game {
  display: none;
}

button {
  padding: 20px 40px;
  font-size: 2rem;
  cursor: pointer;
  background: #61dafb;
  border: none;
  border-radius: 10px;
  color: #222;
  transition: background-color 0.3s;
}

button:hover {
  background: #21a1f1;
}

#circle {
  width: 150px;
  height: 150px;
  border: 5px solid #61dafb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  user-select: none;
  margin: 40px auto 0;
  cursor: pointer;
}
